.terraform/*
.terraform
.idea
non-prod/.terraform
prd/.terraform
provider.tf
.cache
.tmp
.terragrunt-cache
*/__pycache__/*
__pycache__
__pycache/*
*/__pycache__
*__pycache__
lambda/scraper/src/__pycache__/